## Explicitly enumerate the symbols here that are in the registration
## information rather than use .registration as there are symbols that
## conflict with functions on Windows, i.e. savePlot.

export(pdf, pdf2, pdf.options, pdfFonts, mtext, text, rect)

S3method("checkFont", "default")
S3method("checkFont", "Type1Font")
S3method("checkFont", "CIDFont")
S3method("matchEncoding", "Type1Font")
S3method("matchEncoding", "CIDFont")

useDynLib(pdf2, PDF, PDFAnnotBox, PDFTextBoxInfo)
